# AccelerateAI
Data Science Global Bootcamp
Assignment 09

# Q1. Decision Tree Classification – Credit Data
Consider the dataset in 01_credit_data.csv file with the following:
• A1 - A15 = Attributes
• T - Target (positive or negative credit)
Split the data into train and test (75% - 25%) and train a decision tree using sklearn’s
DecisionTreeClassifier() with 2 different methods:
1) ID3 (criterion = 'entropy')
2) CART (criterion = 'gini')
Find the accuracy on test data for the 2 different methods. Why do you think they are
so?

In [19]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [5]:
Credit_df = pd.read_csv("01_credit_data.csv")
Credit_df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13  A14  A15  T
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0  +

In [9]:
Credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  T       690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [7]:
X = pd.get_dummies(Credit_df.drop("T", axis=1), drop_first=True)
y = Credit_df["T"]

In [8]:
y.value_counts()

-    383
+    307
Name: T, dtype: int64

In [11]:
#split the data 75/25%
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=0,train_size=0.75)

In [14]:
x_train.shape

(517, 559)

In [15]:
x_test.shape

(173, 559)

In [16]:
y_test.shape

(173,)

In [17]:
# CART Model for classification
model_cart = DecisionTreeClassifier(criterion='gini')
model_cart.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:

y_train_pred = model_cart.predict(x_train)
y_test_pred = model_cart.predict(x_test) 

print(f'Train score: {accuracy_score(y_train_pred,y_train)}')
print(f'Test  score: {accuracy_score(y_test_pred,y_test)}')

Train score: 1.0
Test  score: 0.8323699421965318

In [25]:
# ID3
modele_id3 =DecisionTreeClassifier(criterion='entropy')
modele_id3 = modele_id3.fit(x_train,y_train)

In [23]:
y_train_pred = modele_id3.predict(x_train)
y_test_pred = modele_id3.predict(x_test) 

print(f'Train score: {accuracy_score(y_train_pred,y_train)}')
print(f'Test  score: {accuracy_score(y_test_pred,y_test)}')

Train score: 1.0
Test  score: 0.8092485549132948

In [ ]:
# Find the accuracy on test data for the 2 different methods. Why do you think they are
so?

# Question 2

## Decision Tree Regression – MBA Starting Salary

The average starting salary of MBA graduates in US is provided in the file 02_MBA_Starting_Salary.xlsx.Use the attributes below to predict the Avg Starting salary:
- Type
- Enrollment
- Avg GMAT
- Resident Tuition, Fees
- Pct International
- Pct Female
- Pct Asian American
- Pct Minority
- Pct with job offers

1) Train a Decision tree by dropping the rows with missing values

2) Impute the missing values in each column using KNN imputer, and then train a model

3) Compare the score of both the above models. Use 5-fold CV score in both cases, with same model hyper-parameters (depth, etc)

In [2]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_diabetes

from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.tree import DecisionTreeRegressor, plot_tree, export_text
from sklearn.datasets import fetch_california_housing
#from cubist import Cubist

import matplotlib.pyplot as plt

In [11]:
df_MBA = pd.read_excel("02_MBA_Starting_Salary.xlsx",sheet_name=1) #sheet_name=1
df_MBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Fulltime Business Week Ranking  70 non-null     object
 1   School Name                     70 non-null     object
 2   State                           70 non-null     object
 3   Type                            70 non-null     object
 4   Enrollment                      70 non-null     int64
 5   Avg GMAT                        67 non-null     float64
 6   Resident Tuition, Fees          68 non-null     float64
 7   Pct International               68 non-null     float64
 8   Pct Female                      68 non-null     float64
 9   Pct Asian American              63 non-null     float64
 10  Pct Minority                    66 non-null     float64
 11  Pct with job offers             67 non-null     float64
 12  Avg starting base salary        67 non-null     float64
dtypes: float64(8), int64(1), object(4)
memory usage: 7.2+ KB

In [7]:
df_MBA.head(5)

,Fulltime Business Week Ranking,School Name,State,Type,Enrollment,Avg GMAT,"Resident Tuition, Fees",Pct International,Pct Female,Pct Asian American,Pct Minority,Pct with job offers,Avg starting base salary
0,1,University of Chicago,Illinois,Private,1144,713.0,97165.0,35.0,35.0,16.0,7.0,92.0,107091.0
1,2,Harvard University,Massachusetts,Private,1801,720.0,101660.0,33.0,38.0,NaN,NaN,94.0,124378.0
2,3,Northwestern University,Illinois,Private,1200,711.0,93918.0,34.0,36.0,25.0,13.0,95.0,108064.0
3,4,University of Pennsylvania,Pennsylvania,Private,1651,714.0,104410.0,44.0,36.0,7.8,9.0,89.0,112186.0
4,5,University of Michigan,Michigan,Public,898,706.0,80879.0,27.0,34.0,21.0,13.0,89.0,103608.0

In [12]:
#dropping rows which have at least a missing value
new_df_MBA= df_MBA.dropna(axis=0,how='any')
new_df_MBA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Fulltime Business Week Ranking  60 non-null     object
 1   School Name                     60 non-null     object
 2   State                           60 non-null     object
 3   Type                            60 non-null     object
 4   Enrollment                      60 non-null     int64
 5   Avg GMAT                        60 non-null     float64
 6   Resident Tuition, Fees          60 non-null     float64
 7   Pct International               60 non-null     float64
 8   Pct Female                      60 non-null     float64
 9   Pct Asian American              60 non-null     float64
 10  Pct Minority                    60 non-null     float64
 11  Pct with job offers             60 non-null     float64
 12  Avg starting base salary        60 non-null     float64
dtypes: float64(8), int64(1), object(4)
memory usage: 6.6+ KB

In [15]:
#get dummies 
X = pd.get_dummies(new_df_MBA.drop(["Avg starting base salary","Fulltime Business Week Ranking"], axis=1), drop_first=True)
y = new_df_MBA["Avg starting base salary"]

In [16]:
print(X.shape)
print (y.shape)

(60, 93)
(60,)

In [17]:
#split the data 75/25%
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=0,train_size=0.75)

In [18]:
# CART Regression Tree
cart_tree = DecisionTreeRegressor(random_state=0)
cart_tree.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [19]:
# Tree depth
cart_tree.get_depth()

11

In [20]:
#Calculate the accuray of clasification using test data
cart_train_acc =cart_tree.score(x_train, y_train)
cart_test_acc = cart_tree.score(x_test, y_test)

print("CART=> Train:", cart_train_acc.round(3), "Test:", cart_test_acc.round(3) )

CART=> Train: 1.0 Test: -0.038

In [ ]:
I am not sure if I made a mistake somewhere but the tree is overffited while the testing set did very poorly

In [25]:
#get dummies 
Df_encoded= pd.get_dummies(df_MBA.drop("Fulltime Business Week Ranking", axis=1), drop_first=True)
Df_encoded.isna().sum()

Enrollment                0
Avg GMAT                  3
Resident Tuition, Fees    2
Pct International         2
Pct Female                2
                         ..
State_Virginia            0
State_Washington          0
State_Washington D.C.     0
State_Wisconsin           0
Type_Public               0
Length: 106, dtype: int64

In [26]:
Df_encoded.head(5)

,Enrollment,Avg GMAT,"Resident Tuition, Fees",Pct International,Pct Female,Pct Asian American,Pct Minority,Pct with job offers,Avg starting base salary,School Name_Arizona State University,...,State_Ohio,State_Pennsylvania,State_Tennessee,State_Texas,State_Utah,State_Virginia,State_Washington,State_Washington D.C.,State_Wisconsin,Type_Public
0,1144,713.0,97165.0,35.0,35.0,16.0,7.0,92.0,107091.0,0,...,0,0,0,0,0,0,0,0,0,0
1,1801,720.0,101660.0,33.0,38.0,NaN,NaN,94.0,124378.0,0,...,0,0,0,0,0,0,0,0,0,0
2,1200,711.0,93918.0,34.0,36.0,25.0,13.0,95.0,108064.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1651,714.0,104410.0,44.0,36.0,7.8,9.0,89.0,112186.0,0,...,0,1,0,0,0,0,0,0,0,0
4,898,706.0,80879.0,27.0,34.0,21.0,13.0,89.0,103608.0,0,...,0,0,0,0,0,0,0,0,0,1

In [28]:
#Normalising the data set since they are using different scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(Df_encoded), columns = Df_encoded.columns)
df_scaled .head()

,Enrollment,Avg GMAT,"Resident Tuition, Fees",Pct International,Pct Female,Pct Asian American,Pct Minority,Pct with job offers,Avg starting base salary,School Name_Arizona State University,...,State_Ohio,State_Pennsylvania,State_Tennessee,State_Texas,State_Utah,State_Virginia,State_Washington,State_Washington D.C.,State_Wisconsin,Type_Public
0,0.628394,0.923077,0.916989,0.583333,0.416667,0.551724,0.062500,0.911765,0.836400,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.964497,0.968491,0.541667,0.500000,NaN,NaN,0.941176,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.660068,0.911243,0.879786,0.562500,0.444444,0.862069,0.125000,0.955882,0.845608,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.915158,0.928994,1.000000,0.770833,0.444444,0.268966,0.083333,0.867647,0.884618,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.489253,0.881657,0.730390,0.416667,0.388889,0.724138,0.125000,0.867647,0.803437,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
# Impute the missing values in each column using KNN imputer
# define imputer
# knn imputation transform for the horse colic dataset
from numpy import isnan

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')

In [31]:
# fit on the dataset
Inputered_df=pd.DataFrame(imputer.fit_transform(df_scaled),columns=df_scaled.columns)

In [34]:
#Checking that there are no more missing values
#Inputered_df.isna().any()
Inputered_df.isna().sum()

Enrollment                0
Avg GMAT                  0
Resident Tuition, Fees    0
Pct International         0
Pct Female                0
                         ..
State_Virginia            0
State_Washington          0
State_Washington D.C.     0
State_Wisconsin           0
Type_Public               0
Length: 106, dtype: int64

In [35]:
X =Inputered_df.drop("Avg starting base salary", axis=1)
y = Inputered_df["Avg starting base salary"]

In [36]:
print(X.shape)
print (y.shape)

(70, 105)
(70,)

In [37]:
#split the data 75/25%
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=0,train_size=0.75)

In [38]:
# CART Regression Tree
cart_tree1 = DecisionTreeRegressor(random_state=0)
cart_tree1.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [39]:
# Tree depth
cart_tree1.get_depth()

13

In [40]:
#Calculate the accuray of clasification using test data
cart_train_acc =cart_tree1.score(x_train, y_train)
cart_test_acc = cart_tree1.score(x_test, y_test)

print("CART=> Train:", cart_train_acc.round(3), "Test:", cart_test_acc.round(3) )

CART=> Train: 1.0 Test: -1.109

# Q3. Ensemble Modeling – Mobile Price
We want to predict the price of mobile phone(range) based on the characteristics of the
phone like memory, battery power, camera specification etc. The data for about 2000
phones is provided in 03_mobile_price.csv
1) Train a Random Forest classifier to predict the mobile price. What is the accuracy
you get with a 5fold CV on the Dataset.
2) Now, train a gradient boosting classifier using the same data. How does the score
compare with random forest model?
Note that this is multi-class classification.

In [51]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.preprocessing import StandardScaler

mobile_df = pd.read_csv("03_mobile_price.csv")
mobile_df.head(10)

,battery_power,blue,clock_speed,dual_sim,frontcamera,Has4G,memory,mobile_thickness,mobile_wt,n_cores,...,px_height,px_width,ram,screen_height,screen_width,talk_time,Has3G,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0

In [44]:
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   battery_power     2000 non-null   int64
 1   blue              2000 non-null   int64
 2   clock_speed       2000 non-null   float64
 3   dual_sim          2000 non-null   int64
 4   frontcamera       2000 non-null   int64
 5   Has4G             2000 non-null   int64
 6   memory            2000 non-null   int64
 7   mobile_thickness  2000 non-null   float64
 8   mobile_wt         2000 non-null   int64
 9   n_cores           2000 non-null   int64
 10  primarycamera_mp  2000 non-null   int64
 11  px_height         2000 non-null   int64
 12  px_width          2000 non-null   int64
 13  ram               2000 non-null   int64
 14  screen_height     2000 non-null   int64
 15  screen_width      2000 non-null   int64
 16  talk_time         2000 non-null   int64
 17  Has3G             2000 non-null   int64
 18  touch_screen      2000 non-null   int64
 19  wifi              2000 non-null   int64
 20  price_range       2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [47]:
mobile_df.price_range.value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [52]:
X = mobile_df.drop(columns="price_range")
y = mobile_df["price_range"]
X = StandardScaler().fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=30072022)

In [53]:
names = ["Random Forest", "GB"]

classifiers = [
    RandomForestClassifier(max_depth=5, n_estimators=10),
    GradientBoostingClassifier(n_estimators=50)
]

for name, clf in zip(names, classifiers):
    clf.fit(X_train, y_train)
    trainscore = clf.score(X_train, y_train)
    testscore = clf.score(X_test, y_test)
    print(name, trainscore.round(3), testscore.round(3))

Random Forest 0.829 0.663
GB 0.975 0.908

The gradient boosting classifier did very well on both the traning and testing set